name: Build
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - run: go version
      - run: go mod tidy
      - run: go generate ./...
      - run: go build -o ./build/ ./cmd/...
      - run: ./build/pathctl -version
      - run: go test -race ./...

  coverage:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-go@v6
      with:
        go-version: 'stable'
    - name: Coverage
      run: go test -race -cover -covermode=atomic -coverprofile=coverage.txt ./...
    - uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
