name: goreleaser

on:
  push:
    branches:
      - 'buildsystem/*'
    tags:
      - '*'

permissions:
  contents: write
  # packages: write
  # issues: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - uses: goreleaser/goreleaser-action@v6
        with:
          args: release -f .goreleaser.yaml
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}

#      - run: |
#          for os in linux darwin openbsd ; do
#            for arch in amd64 arm64 ; do
#              GOARCH=${arch} GOOS=${os} make build
#              mv -v build unixtools-$os-$arch
#            done
#          done
